
.ui-segment{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    margin: 14px;
    padding: 14px;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}
.song-of-day-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: auto;
    margin-right: 5px;
    height: 100%;
    width: 100%;
}
.song-band-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    margin: 14px;
    padding: 14px;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34,36,38,.15);
    width: 100%;
}
.middel-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.songImageContainer{
    
    width: 100%
}
.song-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    

}
.btn{
    /* text-decoration-style: wavy; */
    display: flex;
}
.click:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

